h2{
      text-align: center;
      font-size: 25px;
      font-weight: 900;
      margin-top: auto;
      margin-bottom: 5px;
}

.container{
    background-color: white;
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    width: 300px;
}

.bg_logo {
    margin-bottom: 10px;
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
}

.bg_logo img {
    max-width: 100%;  /* image will never be wider than its container */
    height: auto;     /* maintains aspect ratio */
    width: auto;      /* optional if you want height-based scaling */
    max-height: 25vh; /* optional to limit vertical space */
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 92%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:invalid {
  border-color: red;
}

button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.forgotPw-btn{
    display: block;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}
.forgotPw-btn:hover{
    text-decoration: underline;
}

.submit-container {
    display: flex;
    gap: 25px;
    margin: 5px 5px;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    transition: background 0.2s;
}

.submit.login {
    background: #007bff;
}

.submit.signup {
    background: #28a745;
}

.submit.login:hover {
 background-color: #0048b3;
}

.submit.signup:hover {
 background-color: #13a000;
}

.submit.gray {
    background: #d3d3d3;
    color: #555;
    cursor: not-allowed;
    transform: none;
    opacity: 1;
}

.submit_container_sgn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.submit_sgn{
    padding: 10px 20px;
    color: #fff;
    background: #28a745;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;  
    text-align: center;
    user-select: none;
    transition: background 0.2s;
}

.submit_sgn:hover {
  background-color: #13a000;
}

.gray{
    background: #eaeaea;
    color: #676767;
}
